.firstDiv{
  height: 40px;
  width: 100%;
  background-color: rgb(91, 91, 235);
}
.leftDiv{
  border-right: 1px solid grey;
}
.flexItem{
  display: flex;
  width: 100%;
}
.width40{
  width: 40%;
}
.width60{
  width: 60%;
}
.singleBox{
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 10px;
  padding: 10px 10px 10px 30px;
}
.padding20{
  padding: 20px;
}